* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    font-family: sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.row {
    margin: 0;
}

/* Header selector ////////////////////////////////////////////////////////////// */

header {
    z-index: 999;
    max-width: 1920px;
    width: 100%;
    position: absolute;
    background-color: white;
    height: 4rem;
}

.mobile-logo {
    display: none;
}


nav li {
    padding: 0 0.5rem;
}

nav img {
    width: 70%;
}

td {
    vertical-align: middle;
}


/* Main selector //////////////////////////////////////////////////////////////// */

main {
    padding-top: 4rem;
    height: calc(100vh);
}

.pagine {
    position: absolute;
    background-image: url('./img/sidebar-bg.png');
    background-color: #051e34;
    width: 8rem;
    height: calc(100vh - 4rem);
}

.item {
    width: 2rem;
    text-align: center;
}

.pagine a {
    padding: 0.5rem 0;
    padding-left: 1rem;
    color: white;
    display: block;
}

.information {
    background-color: #1b72e8;
    width: 100%;
    min-height: 8rem;
}

td>i {
    color: white;
    border-radius: 50%;
    padding: 0.6rem 0.5rem;
    background-color: orangered;
}

.content-main {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-left: 8rem;
}

.card {
    padding: 0;
}

.offcanvas {
    --bs-offcanvas-width: 50%;
}

@media (max-width: 992px) {

    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

    nav .mob-no {
        display: none;
    }

    .pagine {
        width: 4rem;
    }

    .pagine span {
        display: none;
    }

    .content-main {
        padding-left: 4rem;
    }

    .offcanvas {
        --bs-offcanvas-width: 100%;
    }
}